*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(200, 150, 150);
    line-height: 30px;
}

.principal{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    height: 97vh;
    background: white;
    border-radius: 15px;
    
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centro{
    display:flex;
    align-items: center;
    justify-content: center;
    background: maroon;
    width: 70%;
    height: 80vh;
    margin: 40px auto auto auto;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px white;
    border-radius: 15px;
    width: 50vh;
    height: 50vh;
    background: transparent;
    margin: auto 10px auto 10px;

}

.imagem img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

button{
    background: rgb(150, 50, 0);
    color: white;
    font-weight: bold;
    font-size: 20pt;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}

button:hover{
    background:rgb(200, 50, 0);
}


